body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -99999;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -99999;
  }
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(24px);
            transform: translateY(24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes validate-icon {
  0% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
  20% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  40% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  60% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  80% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
@keyframes validate-icon {
  0% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
  20% {
    -webkit-transform: rotateZ(-288deg);
            transform: rotateZ(-288deg);
  }
  40% {
    -webkit-transform: rotateZ(-216deg);
            transform: rotateZ(-216deg);
  }
  60% {
    -webkit-transform: rotateZ(-144deg);
            transform: rotateZ(-144deg);
  }
  80% {
    -webkit-transform: rotateZ(-72deg);
            transform: rotateZ(-72deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
@-webkit-keyframes validate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
}
@keyframes validate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(800px);
            transform: translateX(800px);
  }
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
#preloader {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loader 1s forwards 3s;
          animation: loader 1s forwards 3s;
}

.preloader-container {
  margin: 20px 20px;
}

.preloader-container img {
  text-align: center;
}

.preloader-container h3 {
  -webkit-animation: bounce-top 1s 1s ease-in-out both;
          animation: bounce-top 1s 1s ease-in-out both;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.spinner-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
}

.spinner {
  display: block;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-right: 4px black solid;
  border-bottom: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spinner 1s infinite linear;
          animation: spinner 1s infinite linear;
}

.primary {
  text-align: center;
  width: 100%;
}

.logo-header {
  width: 162px;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.back {
  position: absolute;
  top: 20px;
  left: 25px;
  height: auto;
}

footer {
  background: #343434;
  color: white;
  font-family: "Roboto", sans-serif;
  padding-left: 24px;
  padding-bottom: 35px;
  position: relative;
  bottom: 0;
}

footer i {
  padding-right: 14px;
  font-size: small;
}

.help {
  padding-right: 9px !important;
}

footer a {
  color: white !important;
}

.title {
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  padding: 21px 0px 0px 0px;
  margin: 0;
}

footer p {
  margin: 13px 0px -4px 0px;
}

a:link {
  color: black;
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

a:visited {
  color: black;
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

a:focus {
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

a:active {
  text-decoration: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.localisation {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #eaeaea;
  padding: 15px;
  border-top: 3px solid rgba(174, 174, 174, 0.13);
}

.localisation p {
  font-weight: 500;
  margin: 0;
}

.localisation i {
  padding-right: 15px;
}

.explore {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f8f4f4;
}

.explore h3 {
  margin: -4px 50px -3px 38px;
  padding-top: 40px;
  font-size: x-large;
}

.explore p {
  margin: 14px 22px 10px 30px;
  font-size: large;
  font-weight: 300;
}

.explore-button {
  margin-left: 9px;
}

.explore button {
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: -o-linear-gradient(bottom, #9356dc, #ff79da);
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border: white;
  font-size: medium;
  margin-bottom: 45px;
  width: 216px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(174, 174, 174, 0.7);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(174, 174, 174, 0.7);
  -webkit-transition: opacity 0.45s ease-in-out, -webkit-box-shadow 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out, -webkit-box-shadow 0.45s ease-in-out;
  -o-transition: opacity 0.45s ease-in-out, box-shadow 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out, box-shadow 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out, box-shadow 0.45s ease-in-out, -webkit-box-shadow 0.45s ease-in-out;
}
.explore button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem #8a8989;
          box-shadow: 0.25rem 0.25rem 0.5rem #8a8989;
}

#fonctionnement {
  font-family: "Roboto", sans-serif;
  padding-bottom: 36px;
}

#fonctionnement h3 {
  font-size: x-large;
  margin: 60px 0px 40px 20px;
}

.fonctionnement-container {
  display: block;
}

.step-1 {
  margin-left: 36px;
  margin-right: 20px;
  background-color: #f8f4f4;
  border-radius: 20px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  margin-bottom: 34px;
}

.step-1 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid transparent;
  color: white;
  margin-left: -21px;
  font-size: small;
}

.step-1 p {
  padding: 25px 0px 25px 6px;
  font-weight: bold;
}

.step-1 i {
  margin-left: 17px;
  color: grey;
  font-size: large;
  margin-right: 27px;
}

.step-2 {
  margin-left: 36px;
  margin-right: 20px;
  background-color: #f8f4f4;
  border-radius: 20px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  margin-bottom: 34px;
}

.step-2 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid transparent;
  color: white;
  margin-left: -21px;
  font-size: small;
}

.step-2 p {
  padding: 25px 0px 25px 6px;
  font-weight: bold;
}

.step-2 i {
  margin-left: 17px;
  color: grey;
  font-size: large;
  margin-right: 21px;
}

.step-3 {
  margin-left: 36px;
  margin-right: 20px;
  background-color: #f8f4f4;
  border-radius: 20px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  margin-bottom: 34px;
}

.step-3 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid transparent;
  margin-left: -21px;
  font-size: small;
  color: white;
}

.step-3 p {
  padding: 25px 0px 25px 6px;
  font-weight: bold;
}

.step-3 i {
  margin-left: 18px;
  font-size: large;
  margin-right: 18px;
  color: grey;
}

#restaurant {
  background-color: #f8f4f4;
  font-family: "Roboto", sans-serif;
  padding: 32px 20px 51px 20px;
}

#restaurant h2 {
  margin: 20px 0px 22px 0px;
}

#restaurant img {
  height: 174px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-1, .restaurant-2, .restaurant-3, .restaurant-4 {
  display: -ms-inline-grid;
  display: inline-grid;
  padding-bottom: 2vh;
  position: relative;
}

.restaurant-infos {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  font-size: large;
  font-weight: 300;
  position: relative;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}

.restaurant-infos p {
  margin: 16px 0px 17px 13px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.heart-accueil {
  position: absolute;
  top: 22px;
  right: 23px;
  font-size: x-large;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}

.heart-accueil::before {
  background: transparent;
}

.heart-color {
  position: absolute;
  top: 22px;
  right: 23px;
  font-size: x-large;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background-image: -o-linear-gradient(bottom, #ff79da, #9356dc);
  background-image: linear-gradient(0deg, #ff79da, #9356dc);
}
.heart-color:hover {
  opacity: 1;
}

.new {
  position: absolute;
  top: -1px;
  right: 11px;
  font-size: 0.9em;
  color: #118e6f;
  background-color: #99E2D0;
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}

.view img {
  height: 275px;
  width: 375px;
  position: relative;
  z-index: 1;
}

.heart-menu {
  position: absolute;
  right: 35px;
  top: 35px;
  -webkit-text-stroke: 1px #eaeaea;
}

.heart-menu::before {
  background: transparent;
}

.heart-pages {
  position: absolute;
  right: 35px;
  top: 35px;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #eaeaea;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff79da), to(#9356dc));
  background-image: -o-linear-gradient(bottom, #ff79da, #9356dc);
  background-image: linear-gradient(0deg, #ff79da, #9356dc);
  color: transparent;
}
.heart-pages:hover {
  opacity: 1;
}

.menu-container {
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #eaeaea;
  position: relative;
  z-index: 2;
  margin-top: -57px;
  padding-left: 15px;
  padding-right: 13px;
}

.menu-container h2 {
  padding-top: 31px;
  padding-bottom: 30px;
  padding-left: 7px;
  margin: 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.73em;
  font-weight: lighter;
}

.menu-container h3 {
  padding-bottom: 5px;
  font-weight: 400;
  margin: 0;
  font-size: medium;
}

.menu-entrees, .menu-plats, .menu-desserts {
  padding-bottom: 25px;
  max-width: 100%;
}

.border {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 14px;
  margin-left: 5px;
}

.choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 14px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: margin 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out;
}
.choix:hover .validate {
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin: 0;
}
.choix:hover .validate i {
  -webkit-animation: validate-icon 0.5s;
          animation: validate-icon 0.5s;
}

.container {
  padding: 15px 0px 15px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-width: 290px;
  white-space: nowrap;
}

.container h4 {
  margin: 0;
  font-size: large;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-bottom: 2px;
}

.container p {
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 0.93em;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 15px 15px 15px;
  font-weight: bold;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: medium;
}

.validate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0px 15px 0px;
  width: 60px;
  background-color: #9ce4d4;
  color: white;
  font-size: x-large;
  margin: -16px -60px -16px 16px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: margin 0.5s ease-in-out;
  -o-transition: margin 0.5s ease-in-out;
  transition: margin 0.5s ease-in-out;
}

.commander {
  width: 100%;
  text-align: center;
}

.commander button {
  padding: 15px 50px;
  margin: 35px 0px 60px 0px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: -o-linear-gradient(100deg, #9356DC, #FF79DA);
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  border: white;
  font-size: medium;
  width: 185px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(174, 174, 174, 0.7);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(174, 174, 174, 0.7);
  -webkit-transition: opacity 0.45s ease-in-out, -webkit-box-shadow 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out, -webkit-box-shadow 0.45s ease-in-out;
  -o-transition: opacity 0.45s ease-in-out, box-shadow 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out, box-shadow 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out, box-shadow 0.45s ease-in-out, -webkit-box-shadow 0.45s ease-in-out;
}
.commander button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem #8a8989;
          box-shadow: 0.25rem 0.25rem 0.5rem #8a8989;
}

.order-1, .order-2, .order-3, .order-4, .order-5, .order-6, .order-7, .order-8, .order-9, .order-10 {
  -webkit-animation: slide 500ms ease-in-out both;
          animation: slide 500ms ease-in-out both;
}

.order-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.order-2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.order-3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.order-4 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.order-5 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.order-6 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.order-7 {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.order-8 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.order-9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.order-10 {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

@media screen and (min-width: 1px) and (max-width: 374px) {
  #restaurant img {
    width: 100%;
  }

  .menu-container h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .view img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .heart-menu, .heart-pages {
    position: initial;
  }

  .heart-menu {
    padding-left: 15px;
  }

  .heart-pages {
    margin-left: -27px;
  }
}
@media screen and (min-width: 376px) {
  #fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .fonctionnement-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .step-1, .step-2, .step-3 {
    max-width: 361px;
  }

  .card-container {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .restaurant-1, .restaurant-2, .restaurant-3, .restaurant-4 {
    padding-bottom: 0;
  }

  .restaurant-container {
    width: 100%;
  }

  .restaurant-container h2 {
    text-align: center;
  }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title {
    font-size: x-large;
  }

  .view img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .choix {
    width: 100%;
  }

  .container {
    max-width: initial;
    text-align: left;
  }

  .menu-entrees, .menu-plats, .menu-desserts {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }

  .menu-container {
    text-align: center;
  }

  .menu-container h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 47px;
  }

  .heart-menu {
    padding-left: 15px;
  }

  .heart-pages {
    margin-left: -28px;
  }

  .heart-menu, .heart-pages {
    position: inherit;
    vertical-align: middle;
    line-height: 47px !important;
  }

  .carte-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    margin: auto 5%;
  }

  .step-1 p, .step-2 p, .step-3 p {
    padding-right: 10px;
  }
}
@media screen and (min-width: 380px) and (max-width: 730px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 900px) and (max-width: 1440px) {
  .card-container {
    gap: 20px;
  }
}
@media screen and (min-width: 1220px) {
  .carte-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .order-1, .order-4, .order-7 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }

  .order-2, .order-5, .order-8 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  .order-3, .order-6, .order-9 {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }

  .order-10 {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
}
@media screen and (min-width: 1441px) {
  .primary {
    font-size: xx-large;
  }

  .logo-header {
    width: 250px;
  }

  .localisation p {
    font-size: x-large;
  }

  .explore h3 {
    font-size: xx-large;
  }

  .explore p {
    font-size: x-large;
  }

  .explore-button button, .commander button {
    font-size: x-large;
    margin-left: 0;
    width: auto;
  }

  #fonctionnement h3 {
    font-size: xx-large;
  }

  .step-1, .step-2, .step-3 {
    font-size: x-large;
  }

  .step-1 span, .step-2 span, .step-3 span {
    font-size: large;
    border-radius: 100%;
    padding: 8px 14px 8px 14px;
  }

  .step-1 i, .step-2 i, .step-3 i {
    font-size: x-large;
    margin-left: 10px;
    margin-right: 17px;
  }

  .step-1 p, .step-2 p, .step-3 p {
    padding-right: 10px;
  }

  #restaurant h2 {
    font-size: xx-large;
  }

  .restaurant-infos p {
    font-size: x-large;
  }

  .restaurant-infos i {
    font-size: xx-large;
  }

  .new {
    font-size: large;
    width: auto;
  }

  .menu-container h2 {
    font-size: 2em;
  }

  .container h4, .price, .menu-container h3 {
    font-size: x-large;
  }

  .container {
    font-size: 1.23em;
  }

  .card-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .heart-pages {
    margin-left: -32px;
  }

  .validate i, .heart-menu, .heart-pages {
    font-size: xx-large;
  }

  footer, footer i {
    font-size: x-large;
  }

  .title {
    font-size: xx-large;
  }
}