
@import "../sass/base/reset";
@import "../sass/utils/variables";
@import "../sass/composants/keyframes";
@import "../sass/composants/loader";
@import "../sass/layout/header";
@import "../sass/layout/footer";
@import "../sass/layout/liens" ;
@import "../sass/layout/section-more";
@import "../sass/layout/section-fonctionnement";
@import "../sass/layout/section-restaurants";
@import "../sass/layout/section-menus";
@import "../sass/composants/responsive";