footer {
    background: $color-footer;
    color: white;
    font-family: $police-roboto;
    padding-left: 24px;
    padding-bottom: 35px;
    position: relative;
    bottom: 0;
}
footer i {
    padding-right: 14px;
    font-size: small;
}
.help {
    padding-right: 9px!important;
}
footer a {
    color: white!important;
}
.title {
    font-family: $police-shrikhand;
    font-weight: lighter;
    padding: 21px 0px 0px 0px;
    margin: 0;
}
footer p {
    margin: 13px 0px -4px 0px;
}
