.primary {
    text-align: center;
    width: 100%;
}
.logo-header {
    width: 162px;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 1vh;
}
.back {
    position: absolute;
    top: 20px;
    left: 25px;
    height: auto;
}