.view img {
    height: 275px;
    width: 375px;
    position: relative;
    z-index: 1;
}
.heart-menu {
    position: absolute;
    right: 35px;
    top: 35px;
    -webkit-text-stroke: 1px $color-background-darker;
}
.heart-menu::before {
    background: transparent;
    
}
.heart-pages {
    position: absolute;
    right: 35px;
    top: 35px;
    opacity: 0;
    transition: all 0.45s ease-in-out;        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $color-background-darker;
    background-image: linear-gradient(0deg,rgb(255,121,218),rgb(147,86,220));
    color: transparent;
    &:hover {
        opacity: 1;
        
    }
}
.menu-container {
    font-family: "Roboto", sans-serif;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $color-background-darker;
    position: relative;
    z-index: 2;
    margin-top: -57px;
    padding-left: 15px;
    padding-right: 13px;
}
.menu-container h2 {
    padding-top: 31px;
    padding-bottom: 30px;
    padding-left: 7px;
    margin: 0;
    font-family: $police-shrikhand;
    font-size: 1.73em;
    font-weight: lighter;
}
.menu-container h3 {
    padding-bottom: 5px;
    font-weight: 400;
    margin: 0;
    font-size: medium;
}
.menu-entrees, .menu-plats, .menu-desserts {
    padding-bottom: 25px;
    max-width: 100%;
}

.border {
    border-bottom: 3px solid $color-secondary;
    width: 40px;
    margin-bottom: 14px;
    margin-left: 5px;
}
.choix {
    display: flex;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 14px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin 0.5s ease-in-out;
    &:hover {
        .validate {
            transition-duration: 0.5s;
            margin: 0;
        }
        .validate i {
            animation: validate-icon 0.5s;
        }
    }
}
.container {
    padding: 15px 0px 15px 15px; 
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 290px;
    white-space: nowrap;
}
.container h4 {
    margin: 0;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}
.container p {
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.93em;
}
.price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px 15px 15px 15px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: medium;
}
.validate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  15px 0px  15px 0px ;
    width: 60px;
    background-color: rgb(156, 228, 212);
    color: white;
    font-size: x-large;
    margin: -16px -60px -16px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin 0.5s ease-in-out;
}

.commander {
    width: 100%;
    text-align: center;
}
.commander button {
    padding: 15px 50px;
    margin: 35px 0px 60px 0px;
    border-radius: 30px;
    font-family: $police-roboto;
    color: white;
    background: linear-gradient(350deg,#9356DC,#FF79DA);
    border: white;
    font-size: medium;
    width: 185px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(174,174,174,0.7);
    transition: opacity 0.45s ease-in-out, box-shadow 0.45s ease-in-out;
    &:hover {
       opacity: 0.8;
       box-shadow: 0.25rem 0.25rem 0.5rem rgba(138, 137, 137, 1);
    }
}


.order-1, .order-2, .order-3, .order-4, .order-5, .order-6, .order-7, .order-8, .order-9, .order-10 {
    animation: slide 500ms ease-in-out both;
}
.order-1 {
    animation-delay: 0.1s;
    
}
.order-2 {
    animation-delay: 0.3s;
}
.order-3 {
    animation-delay: 0.5s;
}
.order-4 {
    animation-delay: 0.7s;
}
.order-5 {
    animation-delay: 0.9s;
}
.order-6 {
    animation-delay: 1.1s;
}
.order-7 {
    animation-delay: 1.3s;
}
.order-8 {
    animation-delay: 1.5s;
}
.order-9 {
    animation-delay: 1.8s;
}
.order-10 {
    animation-delay: 2.1s;
}
