#restaurant {
    background-color: $color-background-lighter;
    font-family: $police-roboto;
    padding: 32px 20px 51px 20px;
}
#restaurant h2 {
    margin: 20px 0px 22px 0px;
}
#restaurant img {
    height: 174px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    object-fit: cover;
}
.restaurant-1, .restaurant-2, .restaurant-3,.restaurant-4 {
    display: inline-grid;
    padding-bottom: 2vh;
    position: relative;
}
.restaurant-infos {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    font-size: large;
    font-weight: 300;
    position: relative;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
}
.restaurant-infos p { 
    margin: 16px 0px 17px 13px;
    width: fit-content;
}
.heart-accueil {
    position: absolute;
    top: 22px;
    right: 23px;
    font-size: x-large;
    cursor: pointer;
    -webkit-text-stroke: 1px white;
}
.heart-accueil::before {
    background: transparent;
}
.heart-color {
    position: absolute;
    top: 22px;
    right: 23px;
    font-size: x-large;
    opacity: 0;
    transition: all 0.45s ease-in-out;        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(0deg,rgb(255,121,218),rgb(147,86,220));
    &:hover {
        opacity: 1;
        
    }
}

.new {
    position: absolute;
    top: -1px;
    right: 11px;
    font-size: 0.90em;
    color: $color-text-new;
    background-color: $color-secondary;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    width: 60px;
    text-align: center;
}