body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-----------[Links]-------------*/
a:link {
  color: black;
  text-decoration: none;
  text-decoration-line: none;
}

a:visited {
  color: black;
  text-decoration: none;
  text-decoration-line: none;
}

a:focus {
  text-decoration: none;
  text-decoration-line: none;
}

a:active {
  text-decoration: none;
  text-decoration-line: none;
}

/*-----------[Section: Loader]-------------*/
#preloader {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 1s forwards 6.2s;
}

.preloader-container {
  margin: 20px 20px;
}

.preloader-container img {
  text-align: center;
}

.preloader-container h3 {
  animation: bounce-top 1s 3s ease-in-out both;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.fork {
  animation: rotate-right-to-left 3s;
  transform: rotateZ(-15deg);
}

.fork img {
  height: 216px;
}

.knife {
  animation: rotate-left-to-right 3s;
  transform: rotateZ(15deg);
}

.knife img {
  height: 216px;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -99999;
  }
}
@keyframes rotate-right-to-left {
  0% {
    transform: rotateZ(-30deg);
    filter: blur(8px);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}
@keyframes rotate-left-to-right {
  0% {
    transform: rotateZ(30deg);
    filter: blur(8px);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(15deg);
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(45px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(4px);
    animation-timing-function: ease-in;
  }
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.spinner {
  display: block;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-right: 4px black solid;
  border-bottom: 4px black solid;
  border-radius: 50%;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/*-----------[Section: Header]-------------*/
.primary {
  text-align: center;
  width: 100%;
}

.logo-header {
  width: 162px;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.back {
  position: absolute;
  top: 20px;
  left: 25px;
  height: auto;
}

.localisation {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #eaeaea;
  padding: 15px;
  border-top: 3px solid rgba(174, 174, 174, 0.13);
}

.localisation p {
  font-weight: 500;
  margin: 0;
}

.localisation i {
  padding-right: 15px;
}

.explore {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f8f4f4;
}

.explore h3 {
  margin: -4px 50px -3px 38px;
  padding-top: 40px;
  font-size: x-large;
}

.explore p {
  margin: 14px 22px 10px 30px;
  font-size: large;
  font-weight: 300;
}

.explore-button {
  margin-left: 9px;
}

.explore button {
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border: white;
  font-size: medium;
  margin-bottom: 45px;
  width: 216px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(174, 174, 174, 0.7);
  transition: background 0.45s ease-in-out, box-shadow 0.45s ease-in-out;
}
.explore button:hover {
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.7), rgba(255, 121, 218, 0.7));
  box-shadow: 0.25rem 0.25rem 0.5rem #aeaeae;
}

/*-----------[Section: Fonctionnement]-------------*/
#fonctionnement {
  font-family: "Roboto", sans-serif;
  padding-bottom: 36px;
}

#fonctionnement h3 {
  font-size: x-large;
  margin: 60px 0px 40px 20px;
}

.fonctionnement-container {
  display: block;
}

.step-1 {
  margin-left: 36px;
  margin-right: 20px;
  background-color: #f8f4f4;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  margin-bottom: 34px;
  width: -webkit-fill-available;
}

.step-1 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  color: white;
  margin-left: -21px;
  font-size: small;
}

.step-1 p {
  padding: 25px 0px 25px 6px;
  font-weight: bold;
}

.step-1 i {
  margin-left: 17px;
  color: grey;
  font-size: large;
  margin-right: 27px;
}

.step-2 {
  margin-left: 36px;
  margin-right: 20px;
  background-color: #f8f4f4;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  margin-bottom: 34px;
  width: -webkit-fill-available;
}

.step-2 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  color: white;
  margin-left: -21px;
  font-size: small;
}

.step-2 p {
  padding: 25px 0px 25px 6px;
  font-weight: bold;
}

.step-2 i {
  margin-left: 17px;
  color: grey;
  font-size: large;
  margin-right: 21px;
}

.step-3 {
  margin-left: 36px;
  margin-right: 20px;
  background-color: #f8f4f4;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  margin-bottom: 34px;
  width: -webkit-fill-available;
}

.step-3 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  margin-left: -21px;
  font-size: small;
  color: white;
}

.step-3 p {
  padding: 25px 0px 25px 6px;
  font-weight: bold;
}

.step-3 i {
  margin-left: 18px;
  font-size: large;
  margin-right: 18px;
  color: grey;
}

/*-----------[Section: Restaurants]-------------*/
#restaurant {
  background-color: #F8F4F4;
  font-family: "Roboto", sans-serif;
  padding: 32px 20px 51px 20px;
}

#restaurant h2 {
  margin: 20px 0px 22px 0px;
}

#restaurant img {
  height: 174px;
  width: 335px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  object-fit: cover;
}

.restaurant-1, .restaurant-2, .restaurant-3, .restaurant-4 {
  display: inline-grid;
  padding-bottom: 2vh;
  position: relative;
  width: 100%;
}

.restaurant-infos {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  font-size: large;
  font-weight: 300;
  position: relative;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}

.restaurant-infos p {
  margin: 16px 0px 17px 13px;
  width: fit-content;
}

.heart-accueil {
  position: absolute;
  top: 22px;
  right: 23px;
  font-size: x-large;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}

.heart-accueil::before {
  background: transparent;
}

.heart-color {
  position: absolute;
  top: 22px;
  right: 23px;
  font-size: x-large;
  cursor: pointer;
  opacity: 0;
  transition: background 0.45s ease-in-out;
}
.heart-color:hover {
  animation: slide-heart 450ms steps(60, start) both;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes slide-heart {
  0% {
    transform: translateZ(0);
    opacity: 0;
  }
  20% {
    transform: translateZ(32px);
    opacity: 0.2;
  }
  40% {
    transform: translateZ(64px);
    opacity: 0.4;
  }
  60% {
    transform: translateZ(96px);
    opacity: 0.6;
  }
  80% {
    transform: translateZ(128px);
    opacity: 0.8;
  }
  100% {
    transform: translateZ(160px);
    opacity: 1;
  }
}

.new {
  position: absolute;
  top: -1px;
  right: 11px;
  font-size: 0.9em;
  color: #118e6f;
  background-color: #99E2D0;
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}

/*-----------[Section: Menus]-------------*/
.view img {
  height: 275px;
  width: 375px;
  position: relative;
  z-index: 1;
}

.heart-menu {
  position: absolute;
  right: 35px;
  top: 35px;
  -webkit-text-stroke: 1px #eaeaea;
}

.heart-menu::before {
  background: transparent;
}

.heart-pages {
  position: absolute;
  right: 35px;
  top: 35px;
  opacity: 0;
  transition: background 0.45s ease-in-out, animation 0.45s ease-in-out;
}
.heart-pages:hover {
  animation: slide-heart 450ms steps(60, start) both;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-container {
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #eaeaea;
  position: relative;
  z-index: 2;
  margin-top: -57px;
  padding-left: 15px;
  padding-right: 13px;
}

.menu-container h2 {
  padding-top: 31px;
  padding-bottom: 30px;
  padding-left: 7px;
  margin: 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.73em;
  font-weight: lighter;
}

.menu-container h3 {
  padding-bottom: 5px;
  font-weight: 350;
  margin: 0;
  font-size: medium;
}

.menu-entrees, .menu-plats, .menu-desserts {
  padding-bottom: 25px;
  max-width: 100%;
}

.border {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 14px;
  margin-left: 5px;
}

.choix {
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 14px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 0.5s ease-in-out;
}
.choix:hover .validate {
  transition-duration: 0.5s;
  margin: 0;
}
.choix:hover .validate i {
  animation: validate-icon 0.5s;
}

.container {
  padding: 15px 0px 15px 15px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 290px;
  white-space: nowrap;
}

.container h4 {
  margin: 0;
  font-size: large;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.container p {
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.93em;
}

.price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0px 15px 15px 15px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
}

.validate {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  width: 60px;
  background-color: #9ce4d4;
  color: white;
  font-size: x-large;
  margin: -16px -60px -16px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commander {
  width: 100%;
  text-align: center;
}

.commander button {
  padding: 15px 50px;
  margin: 35px 0px 60px 0px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  border: white;
  font-size: medium;
  width: 185px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}

@keyframes validate-icon {
  0% {
    transform: rotateZ(-360deg);
  }
  20% {
    transform: rotateZ(-288deg);
  }
  40% {
    transform: rotateZ(-216deg);
  }
  60% {
    transform: rotateZ(-144deg);
  }
  80% {
    transform: rotateZ(-72deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes validate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(800px);
  }
}
@keyframes slide {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.order-1, .order-2, .order-3, .order-4, .order-5, .order-6, .order-7, .order-8, .order-9, .order-10 {
  animation: slide 500ms ease-in-out both;
}

.order-1 {
  animation-delay: 0.1s;
}

.order-2 {
  animation-delay: 0.3s;
}

.order-3 {
  animation-delay: 0.5s;
}

.order-4 {
  animation-delay: 0.7s;
}

.order-5 {
  animation-delay: 0.9s;
}

.order-6 {
  animation-delay: 1.1s;
}

.order-7 {
  animation-delay: 1.3s;
}

.order-8 {
  animation-delay: 1.5s;
}

.order-9 {
  animation-delay: 1.8s;
}

.order-10 {
  animation-delay: 2.1s;
}

/*-----------[Section: Footer]-------------*/
footer {
  background-color: #343434;
  color: white;
  font-family: "Roboto", sans-serif;
  padding-left: 24px;
  padding-bottom: 35px;
  position: relative;
  bottom: 0;
}

footer i {
  padding-right: 14px;
  font-size: small;
}

.help {
  padding-right: 9px !important;
}

footer a {
  color: white !important;
}

.title {
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  padding: 21px 0px 0px 0px;
  margin: 0;
}

footer p {
  margin: 13px 0px -4px 0px;
}

/*-----------[Media Queries]-------------*/
@media screen and (min-width: 1px) and (max-width: 374px) {
  #restaurant img {
    width: 100%;
  }

  .menu-container h2 {
    display: flex;
    align-items: center;
  }

  .view img {
    width: 100%;
    object-fit: cover;
  }

  .heart-menu, .heart-pages {
    position: initial;
  }

  .heart-menu {
    padding-left: 15px;
  }

  .heart-pages {
    margin-left: -27px;
  }

  .back {
    display: flex;
    flex-direction: column;
    position: inherit;
    padding-top: 15px;
  }
}
@media screen and (min-width: 376px) {
  #fonctionnement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .fonctionnement-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .step-1, .step-2, .step-3 {
    max-width: 361px;
  }

  .card-container {
    display: grid;
    gap: 20px;
    justify-items: center;
    grid-template-columns: 1fr;
  }

  .restaurant-1, .restaurant-2, .restaurant-3, .restaurant-4 {
    padding-bottom: 0;
  }

  .restaurant-container {
    width: 100%;
  }

  .restaurant-container h2 {
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }

  .title {
    font-size: x-large;
  }

  .view img {
    width: 100%;
    object-fit: cover;
  }

  .choix {
    width: 100%;
  }

  .container {
    max-width: initial;
    text-align: left;
  }

  .menu-entrees, .menu-plats, .menu-desserts {
    display: inline-flex;
    flex-direction: column;
    width: 80%;
  }

  .menu-container {
    text-align: center;
  }

  .menu-container h2 {
    display: flex;
    justify-content: center;
  }

  .heart-menu {
    padding-left: 15px;
  }

  .heart-pages {
    margin-left: -28px;
  }

  .heart-menu, .heart-pages {
    position: inherit;
    vertical-align: middle;
    line-height: 47px !important;
  }

  .carte-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto 5%;
  }
}
@media screen and (min-width: 380px) and (max-width: 730px) {
  footer {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) and (max-width: 1440px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 1220px) {
  .carte-container {
    flex-wrap: nowrap;
  }

  .order-1, .order-4, .order-7 {
    animation-delay: 0.5s;
  }

  .order-2, .order-5, .order-8 {
    animation-delay: 1s;
  }

  .order-3, .order-6, .order-9 {
    animation-delay: 1.5s;
  }

  .order-10 {
    animation-delay: 2s;
  }
}
@media screen and (min-width: 1441px) {
  .primary {
    font-size: xx-large;
  }

  .logo-header {
    width: 250px;
  }

  .localisation p {
    font-size: x-large;
  }

  .explore h3 {
    font-size: xx-large;
  }

  .explore p {
    font-size: x-large;
  }

  .explore-button button, .commander button {
    font-size: x-large;
    margin-left: 0;
    width: auto;
  }

  #fonctionnement h3 {
    font-size: xx-large;
  }

  .step-1, .step-2, .step-3 {
    font-size: x-large;
  }

  .step-1 span, .step-2 span, .step-3 span {
    font-size: large;
    border-radius: 100%;
  }

  .step-1 i, .step-2 i, .step-3 i {
    font-size: x-large;
  }

  #restaurant h2 {
    font-size: xx-large;
  }

  .restaurant-infos p {
    font-size: x-large;
  }

  .restaurant-infos i {
    font-size: xx-large;
  }

  .new {
    font-size: large;
    width: auto;
  }

  .menu-container h2 {
    font-size: 2em;
  }

  .container h4, .price, .menu-container h3 {
    font-size: x-large;
  }

  .container {
    font-size: 1.23em;
  }

  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .heart-pages {
    margin-left: -32px;
  }

  .validate i, .heart-menu, .heart-pages {
    font-size: xx-large;
  }

  footer, footer i {
    font-size: x-large;
  }

  .title {
    font-size: xx-large;
  }
}
