body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 375px;
}

/*-----------[Links]-------------*/
a:link {
  color: black;
  text-decoration: none;
  text-decoration-line: none;
}

a:visited {
  color: black;
  text-decoration: none;
  text-decoration-line: none;
}

a:focus {
  text-decoration: none;
  text-decoration-line: none;
}

a:active {
  text-decoration: none;
  text-decoration-line: none;
}

/*-----------[Section: Header]-------------*/
#header {
  text-align: center;
  width: 100%;
}

.logo-header {
  width: 160px;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.back {
  position: absolute;
  top: 20px;
  left: 25px;
  height: auto;
}

.localisation {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #eaeaea;
  padding: 2px;
  box-shadow: inset 0 20px 5px -20px;
}

.localisation p {
  font-weight: 500;
}

.localisation i {
  padding-right: 20px;
}

.explore {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f8f4f4;
}

.explore h3 {
  margin: 0px 60px 10px 60px;
  padding-top: 40px;
  font-size: x-large;
}

.explore p {
  margin: 10px 30px 10px 30px;
  font-size: large;
  font-weight: 300;
}

.explore-button {
  padding: 1.7vh;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  border: white;
  font-size: medium;
  margin-bottom: 55px;
  width: 225px;
}

/*-----------[Section: Fonctionnement]-------------*/
#fonctionnement {
  font-family: "Roboto", sans-serif;
}

#fonctionnement h3 {
  font-size: x-large;
  margin: 60px 0px 40px 20px;
}

.step-1, .step-2, .step-3 {
  margin-left: 30px;
  margin-right: 15px;
  background-color: #f8f4f4;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px #eaeaea;
}

.step-3 {
  margin-bottom: 70px;
}

.step-1 span, .step-2 span, .step-3 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  color: white;
  margin-left: -12px;
  font-size: small;
}

.step-1 p, .step-2 p, .step-3 p {
  padding: 25px 0px 25px;
  font-weight: bold;
}

.step-1 i, .step-2 i, .step-3 i {
  margin-left: 15px;
  color: grey;
  font-size: large;
  margin-right: 20px;
}

/*-----------[Section: Restaurants]-------------*/
#restaurant {
  background-color: #F8F4F4;
  font-family: "Roboto", sans-serif;
  padding-top: 60px;
  padding-bottom: 55px;
}

.restaurant-container {
  margin: 0px 15px 0px 15px;
}

#restaurant img {
  height: 180px;
  width: 335px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  object-fit: cover;
  box-shadow: 0px 0px 5px 1px #eaeaea;
}

.restaurant-1, .restaurant-2, .restaurant-3, .restaurant-4 {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 2vh;
  position: relative;
}

.restaurant-infos {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  font-size: large;
  font-weight: 300;
  position: relative;
  box-shadow: 0px 0px 5px 1px #eaeaea;
}

.restaurant-infos p {
  margin-left: 15px;
  width: fit-content;
}

.heart {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 35px;
  font-size: x-large;
  cursor: pointer;
}

.new {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 0.9em;
  color: #118e6f;
  background-color: #99E2D0;
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}

/*-----------[Section: Menus]-------------*/
.view img {
  height: 250px;
  width: 375px;
  position: relative;
  z-index: 1;
}

.menu-container {
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #eaeaea;
  position: relative;
  z-index: 2;
  margin-top: -50px;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-container h3 {
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.73em;
  font-weight: lighter;
}

.menu-container i {
  margin-left: 35px;
  margin-right: 10px;
}

.menu-container h4 {
  padding-bottom: 5px;
  font-weight: 350;
  margin: 0;
}

.menu-entrees, .menu-plats {
  padding-bottom: 25px;
}

.border {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 10px;
  margin-left: 2px;
}

.choix {
  border-radius: 10px;
  position: relative;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 5px 5px #eaeaea;
  margin-bottom: 15px;
}

.choix b {
  font-size: large;
}

.choix p {
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  font-size: 0.93em;
  margin-top: 2px;
}

.choix h2 {
  margin: 0;
  font-size: x-large;
}

.price {
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: fit-content;
}

.commander {
  width: 100%;
  text-align: center;
}

.commander button {
  padding: 15px 50px;
  margin: 35px 0px 60px 0px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  border: white;
  font-size: medium;
  width: 185px;
}

/*-----------[Section: Footer]-------------*/
#footer {
  background-color: #343434;
  color: white;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  padding-bottom: 35px;
  position: relative;
  bottom: 0;
}

#footer i {
  padding-right: 10px;
  font-size: small;
}

.help {
  padding-right: 7px !important;
  margin-left: -2px;
}

#footer a {
  color: white;
}

.title {
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  padding: 30px 0px 0px 0px;
  margin: 0;
}

#footer p {
  margin-block-end: 0;
}
