body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 375px;
}

/*-----------[Links]-------------*/

a:link {
  color: black;
  text-decoration: none;
  text-decoration-line: none;
}

a:visited {
  color: black;
  text-decoration: none;
  text-decoration-line: none;
}

a:focus {
  text-decoration: none;
  text-decoration-line: none;
}

a:active {
  text-decoration: none;
  text-decoration-line: none;
}

/*-----------[Section: Loader]-------------*/
#preloader {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 1s forwards 6.2s;
}
.container img {
  text-align: center;
}
.container h3 {
  animation: bounce-top 1s 3s ease-in-out both;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.fork {
  margin-right: 20px;
  animation: jump 6s;
}
.fork img {
  height: 216px;
}
.knife {
  margin-left: 25px;
  animation: jump 6s;
}
.knife img {
  height: 216px;
}
@keyframes loader {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      z-index: -99999;
  }
}
@keyframes jump {
  0% {
    transform: scale(1.5);
    transform-origin: 50% 100%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1), t;
    transform-origin: 50% 100%;
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
/*-----------[Section: Header]-------------*/
header {
  text-align: center;
  width: 100%;
}
.logo-header {
  width: 162px;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 1vh;
}
.back {
  position: absolute;
  top: 20px;
  left: 25px;
  height: auto;
}

.localisation {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #eaeaea;
  padding: 15px;
  border-top: 3px solid rgb(174 174 174 / 13%);
}
.localisation p {
  font-weight: 500;
  margin: 0;
}
.localisation i {
  position: absolute;
  left: 105px;
}
.explore {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #f8f4f4;
}
.explore h3 {
  margin: -4px 50px -3px 38px;
  padding-top: 40px;
  font-size: x-large;
}
.explore p {
  margin: 14px 22px 10px 30px;
  font-size: large;
  font-weight: 300;
}
.explore-button {
  margin-left: 9px;
}
.explore button {
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(0deg,rgba(147,86,220,1.0),rgba(255,121,218,1.0));
  border: white;
  font-size: medium;
  margin-bottom: 45px;
  width: 216px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(174,174,174,0.7);
  transition: background 0.45s, box-shadow 0.45s;
  &:hover {
      background: linear-gradient(0deg,rgba(147,86,220,0.7),rgba(255,121,218,0.7));
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(174,174,174,1.0);
  }
}
/*-----------[Section: Fonctionnement]-------------*/
#fonctionnement {
  font-family: "Roboto", sans-serif;
}
#fonctionnement h3 {
  font-size: x-large;
  margin: 60px 0px 40px 20px;
}
.step-1 {
  margin-left: 36px;
  margin-right: 20px;
  background-color: #f8f4f4;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  margin-bottom: 34px;
} 
.step-1 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  color: white;
  margin-left: -21px;
  font-size: small;
} 
.step-1 p {
  padding: 25px 0px 25px 6px;
  font-weight: bold;
}
.step-1 i {
  margin-left: 17px;
  color: grey;
  font-size: large;
  margin-right: 27px;
} 
.step-2 {
  margin-left: 36px;
  margin-right: 20px;
  background-color: #f8f4f4;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  margin-bottom: 34px;
} 
.step-2 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  color: white;
  margin-left: -21px;
  font-size: small;
} 
.step-2 p {
  padding: 25px 0px 25px 6px;
  font-weight: bold;
}
.step-2 i {
  margin-left: 17px;
  color: grey;
  font-size: large;
  margin-right: 21px;
} 
.step-3 {
  margin-left: 36px;
  margin-right: 20px;
  background-color: #f8f4f4;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  margin-bottom: 70px;
}
.step-3 span {
  border-radius: 50px;
  padding: 4px 8px 4px 8px;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  color: white;
  margin-left: -21px;
  font-size: small;
} 
.step-3 p {
  padding: 25px 0px 25px 6px;
  font-weight: bold;
}
.step-3 i {
  margin-left: 18px;
  color: grey;
  font-size: large;
  margin-right: 18px;
}

/*-----------[Section: Restaurants]-------------*/
#restaurant {
  background-color: #F8F4F4;
  font-family: "Roboto", sans-serif;
  padding: 32px 20px 51px 20px;
}
#restaurant h2 {
  margin: 20px 0px 22px 0px;
}
#restaurant img {
  height: 174px;
  width: 335px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  object-fit: cover;
}
.restaurant-1, .restaurant-2, .restaurant-3,.restaurant-4 {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 2vh;
  position: relative;
  
}
.restaurant-infos {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  font-size: large;
  font-weight: 300;
  position: relative;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
}
.restaurant-infos p { 
  margin: 16px 0px 17px 13px;
  width: fit-content;
}
.heart-accueil {
  position: absolute;
  top: 22px;
  right: 23px;
  font-size: x-large;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}
.heart-accueil::before {
  background: transparent;
}
.heart-color {
  position: absolute;
  top: 22px;
  right: 23px;
  font-size: x-large;
  cursor: pointer;
  opacity: 0;
  transition: background 0.45s;
  &:hover {
      animation: slide-heart 450ms steps(60, start) both;
      background: linear-gradient(0deg,rgb(255,121,218),rgb(147,86,220));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  @keyframes slide-heart {
      0% {
          transform: translateZ(0);
          opacity: 0;
      }
      20% {
          transform: translateZ(32px);
          opacity: 0.2;
      }
      40% {
          transform: translateZ(64px);
          opacity: 0.4;
      }
      60% {
          transform: translateZ(96px);
          opacity: 0.6;
      }
      80% {
          transform: translateZ(128px);
          opacity: 0.8;
      }
      100% {
          transform: translateZ(160px);
          opacity: 1;
      }
  }
}

.new {
  position: absolute;
  top: -1px;
  right: 11px;
  font-size: 0.90em;
  color: #118e6f;
  background-color: #99E2D0;
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}
/*-----------[Section: Menus]-------------*/
.view img {
  height: 275px;
  width: 375px;
  position: relative;
  z-index: 1;
}
.heart-menu {
  position: absolute;
  right: 35px;
  top: 35px;
  -webkit-text-stroke: 1px #eaeaea;
}
.heart-menu::before {
  background: transparent;
}
.heart-pages {
  position: absolute;
  right: 35px;
  top: 35px;
  opacity: 0;
  transition: background 0.45s;
  &:hover {
      animation: slide-heart 450ms steps(60, start) both;
      background: linear-gradient(0deg,rgb(255,121,218),rgb(147,86,220));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}
.menu-container {
  font-family: "Roboto", sans-serif;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #eaeaea;
  position: relative;
  z-index: 2;
  margin-top: -57px;
  padding-left: 15px;
  padding-right: 13px;
  
}
.menu-container h3 {
  padding-top: 31px;
  padding-bottom: 30px;
  padding-left: 7px;
  margin: 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.73em;
  font-weight: lighter;
}
.menu-container h4 {
  padding-bottom: 5px;
  font-weight: 350;
  margin: 0;
}
.menu-entrees,.menu-plats, .menu-desserts {
  padding-bottom: 25px;
  animation: slide 1000ms ease-in-out both;
}

.border {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 14px;
  margin-left: 5px;
}
.choix {
  border-radius: 10px;
  position: relative;
  background-color: white;
  padding: 10px;
  margin-bottom: 14px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  overflow: hidden;
  text-overflow: ellipsis;
  animation: slide 1000ms ease-in-out both;
}
@keyframes slide {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.choix b {
  font-size: large;
}
.choix p {
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  font-size: 0.93em;
  margin-top: 2px;
}
.choix h2 {
  margin: 0;
  font-size: x-large;
}

.price {
  font-weight: bold;
  position: absolute;
  bottom: 13px;
  right: 20px;
  height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}
.commander {
  width: 100%;
  text-align: center;
  animation: slide 1000ms ease-in-out both;
}
.commander button {
  padding: 15px 50px;
  margin: 35px 0px 60px 0px;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  background: linear-gradient(350deg,#9356DC,#FF79DA);
  border: white;
  font-size: medium;
  width: 185px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
}
.order-1 {
  animation-delay: 0.1s;
}

.order-2 {
  animation-delay: 0.3s;
}
.order-3 {
  animation-delay: 0.5s;
}
.order-4 {
  animation-delay: 0.7s;
}
.order-5 {
  animation-delay: 0.9s;
}
.order-6 {
  animation-delay: 1.1s;
}
.order-7 {
  animation-delay: 1.3s;
}
.order-8 {
  animation-delay: 1.5s;
}
.order-9 {
  animation-delay: 1.8s;
}
.order-10 {
  animation-delay: 2.1s;
}

/*-----------[Section: Footer]-------------*/
footer {
  background-color: #343434;
  color: white;
  font-family: "Roboto", sans-serif;
  padding-left: 24px;
  padding-bottom: 35px;
  position: relative;
  bottom: 0;
}
footer i {
  padding-right: 14px;
  font-size: small;
}
.help {
  padding-right: 9px!important;
}
footer a {
  color: white!important;
}
.title {
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  padding: 21px 0px 0px 0px;
  margin: 0;
}
footer p {
  margin: 13px 0px -4px 0px;
}

