
// Keyframes Loader //
@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -99999;
    }
}
  @keyframes bounce-top {
    0% {
      transform: translateY(45px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(4px);
      animation-timing-function: ease-in;
    }
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
}
  @keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

// KeyFrames Menu Validate //

  @keyframes validate-icon {
    0% {
        transform: rotateZ(-360deg);
    }
    20% {
        transform: rotateZ(-288deg);
    }
    40% {
        transform: rotateZ(-216deg);
    }
    60% {
        transform: rotateZ(-144deg);
    }
    80% {
        transform: rotateZ(-72deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
@keyframes validate {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(800px);
    }
}

// KeyFrames Slide Menus //  
@keyframes slide {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
