
// Colors //
$color-primary:#9356DC;
$color-secondary:#99E2D0;
$color-text-new:#118e6f;
$color-footer:rgb(52, 52, 52);
$color-background-darker:#eaeaea;
$color-background-lighter:#f8f4f4;

// Polices //
$police-roboto: "Roboto", sans-serif;
$police-shrikhand: "Shrikhand", sans-serif;